from fastapi import FastAPI, Depends, HTTPException, Body
from pydantic import BaseModel
from passlib.context import CryptContext
from jose import JWTError, jwt
from datetime import datetime, timedelta
from fastapi.security import OAuth2PasswordBearer  

from fastapi.middleware.cors import CORSMiddleware

 
